* {
    box-sizing: border-box;
}

body {
    /*height: 100vh;*/
    margin: 0;
  padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}

p {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.form {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.input {
    padding-left: 8px;
    width: 270px;
    height: 40px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #808080;
}

input:hover {
    border-color: #000;
}

input:focus {
    border-color: #4E75FF;
}

button {
    min-width: 75px;
    height: 40px;
    color: white;
    background-color: #4E75FF;
    border: none;
    border-radius: 8px;

    cursor: pointer;
    transition: background-color, 250ms, cubic-bezier(0.075, 0.82, 0.165, 1);
}

button:hover {
    background-color: #6C8CFF;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.loader::before,
.loader::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #000;
    animation: prixClipFix 2s linear infinite;
}

.loader::after {
    inset: 8px;
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: #FF3D00;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    75%,
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}

.hidden {
    display: none;
}

.gallery {
    max-width: 1128px;
    display: flex;
    gap: 20px 0;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

li {
    width: 360px;
    height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}

.gallery-photo {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.text-wrapper {
    display: flex;
    height: 48px;
    justify-content: space-evenly;
    gap: 8px;
}


.list-item-container {
    display: flex;
    flex-direction: column;
}

.header-text {
    font-weight: 600;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}